.w3-sidebar a {
  font-family: "Didot", serif;
}

body, h1, h2, h3, h4, h5, h6, .w3-wide {
  font-family: "Garamond", serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #cebfb6;
  position: fixed;
  height: 100%;
  overflow: visible;
  z-index: 0;
}

.menu-heading {
  color: white;
  text-align: center;
  line-height: 100px;
  margin-bottom: 45px;
  font-size: 40px;
  font-family: 'Didot', serif;
}

li a {
  display: block;
  color: #000;
  padding: 30px 10px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-family: 'Garamond', serif;
}

li a.active {
  background-color: #a39193;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Dropdown styles */
.dropdown-container {
  display: none;
  background-color: #a39193;
  padding-left: 8px;
  position: absolute;
  width: 100%;
}

.dropdown-container a {
  padding: 8px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.dropdown-container a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-container {
  display: block;
}

.dropdown-container a.active {
  background-color: #555; 
  color: white; 
}


/* Page Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a39193;
  color: white;
  text-align: center;
  padding: 5px;
  z-index: 3;
}

.container {
    display: flex;
}

.w3-sidebar {
    width: 250px;
}

#content {
    margin-left: 350px; /* Should be the same as the width of the sidebar */
}

.box-text {
    text-align: center;
    font-family: 'Garamond', serif;
    margin-top: 10px; /* Adjust the margin to control the space between image and text */
}

.row-padding.margin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-box {
    margin: 10px;
    flex: 0 0 calc(40% - 25px); /* Adjust the size and spacing between boxes */
    box-sizing: border-box;
    overflow: hidden;
    width: 330px; /* Set the fixed width */
    height: 350px; /* Set the fixed height */
    position: relative;
}

.image-box img {
    max-width: 100%;
    height: 100%; 
    border-radius: 8px;
    object-fit: cover;
    border-style: solid;
	border-color: #cebfb6;
	border-width: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a39193;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 8px;
    box-sizing: border-box;
}

.image-box:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
	font-family: "Garamond", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.external-text {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.external-text h6 {
  text-align: center;
  font-family: 'Garamond', serif;
  margin-top: 0px;
}
