
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #cebfb6;
  position: fixed;
  height: 100%;
  overflow: visible;
}

.menu-heading {
  color: white;
  text-align: center;
  line-height: 100px;
  margin-bottom: 40px; /* Adjust the margin as needed */
  font-size: 40px;
  font-family: 'Didot', serif;
}

li a {
  display: block;
  color: #000;
  padding: 30px 10px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-family: 'Garamond', serif;
}

li a.active {
  background-color: #a39193;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#content {
  margin-left: 30%; /* Adjusted to make space for the menu */
}

.text-container {
  position: absolute;
  right: 20; /*typo*/
  width: 100px;
  height: 120px;
}

.container-fluid {
  padding: 20px 20px;
  background-color: #ece6e3;
}

/* Dropdown styles */
.dropdown-container {
  display: none;
  background-color: #a39193;
  padding-left: 8px;
  position: absolute;
  width: 100%;
}

.dropdown-container a {
  padding: 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.dropdown-container a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-container {
  display: block;
}

/* Page Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a39193;
  font-family: 'Garamond', serif; 
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 5px;
}